<%= form_for @unidad, :html => { :class => "form-horizontal unidad" } do |f| %>

    <% if @unidad.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@unidad.errors.count, "error") %> prohibited this unidad from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @unidad.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'form-control' %>
    </div>
    <%= error_span(@unidad[:nombre]) %>
  </div>
  <div class="control-group">
    <%= f.label :siglas, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :siglas, :class => 'form-control' %>
    </div>
    <%= error_span(@unidad[:siglas]) %>
  </div>
  <div class="control-group">
    <%= f.label :descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :descripcion, :class => 'form-control' %>
    </div>
    <%= error_span(@unidad[:descripcion]) %>
  </div>
  <div class="control-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'form-control' %>
    </div>
    <%= error_span(@unidad[:url]) %>
  </div>
  <div class="control-group">
    <%= f.label :direccion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :direccion, :class => 'form-control' %>
    </div>
    <%= error_span(@unidad[:direccion]) %>
  </div>
  <div class="control-group">
    <%= f.label :telefono, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telefono, :class => 'form-control' %>
    </div>
    <%= error_span(@unidad[:telefono]) %>
  </div>
  <div class="control-group">
    <%= f.label :extension, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :extension, :class => 'form-control' %>
    </div>
    <%= error_span(@unidad[:extension]) %>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@unidad[:email]) %>
  </div>
  <div class="control-group">
    <%= f.label :web, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :web, :class => 'form-control' %>
    </div>
    <%= error_span(@unidad[:web]) %>
  </div>
  <div class="control-group">
    <%= f.label :escudo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :escudo, :class => 'form-control' %>
    </div>
    <%= error_span(@unidad[:escudo]) %>
  </div>
  <div class="control-group">
    <%= f.label :portada, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :portada, :class => 'form-control' %>
    </div>
    <%= error_span(@unidad[:portada]) %>
  </div>
  <div class="control-group">
    <%= f.label :token, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :token, :class => 'form-control' %>
    </div>
    <%= error_span(@unidad[:token]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            unidades_path, :class => 'btn btn-default' %>

<% end %>
