= form_tag @unidad, :html => { :class => "form unidad" } do |f|
  - Carrera.all.each do |c|
    .checkbox
      = label_tag :carrera_id, {:class => "checkbox"} do
        = check_box :carrera, :id, {:class => "checkbox"}, c.url
        = c.nombre
  = submit_tag nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), |
    unidades_path, :class => 'btn btn-default'                   |