<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @unidad.nombre %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @unidad.siglas %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @unidad.descripcion %>
</p>

<p>
  <strong>Url:</strong>
  <%= @unidad.url %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @unidad.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @unidad.telefono %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @unidad.extension %>
</p>

<p>
  <strong>Email:</strong>
  <%= @unidad.email %>
</p>

<p>
  <strong>Web:</strong>
  <%= @unidad.web %>
</p>

<p>
  <strong>Escudo:</strong>
  <%= @unidad.escudo %>
</p>

<p>
  <strong>Portada:</strong>
  <%= @unidad.portada %>
</p>

<p>
  <strong>Secure token:</strong>
  <%= @unidad.token %>
</p>

<%= link_to 'Edit', edit_unidad_path(@unidad) %> |
<%= link_to 'Back', unidades_path %>
