%h1 Listing profesores
%table
  %thead
    %tr
      %th Nombres
      %th Apellidos
      %th Url
      %th Email
      %th Sexo
      %th Token
      %th{:colspan => "3"}
  %tbody
    - @profesores.each do |profesor|
      %tr
        %td= profesor.nombres
        %td= profesor.apellidos
        %td= profesor.url
        %td= profesor.email
        %td= profesor.sexo
        %td= profesor.token
        %td= link_to 'Show', profesor
        %td= link_to 'Edit', edit_profesor_path(profesor)
        %td= link_to 'Destroy', profesor, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Profesor', new_profesor_path